<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="round">
      <h2 data-cy="roundDetailsHeading"><span jhiTranslate="leagueManagerApp.round.detail.title">Round</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt>
          <span>{{ round.roundNumber }}</span>
        </dt>
        <dd *ngFor="let match of round.matches">
          <jhi-match-detail [match]="match"></jhi-match-detail>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/round', round.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
