<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-round-heading" data-cy="RoundCreateUpdateHeading" jhiTranslate="leagueManagerApp.round.home.createOrEditLabel">
        Create or edit a Round
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="leagueManagerApp.round.roundNumber" for="field_roundNumber">Round Number</label>
          <input
            type="number"
            class="form-control"
            name="roundNumber"
            id="field_roundNumber"
            data-cy="roundNumber"
            formControlName="roundNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="leagueManagerApp.round.league" for="field_league">League</label>
          <select class="form-control" id="field_league" data-cy="league" name="league" formControlName="league">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="leagueOption.id === editForm.get('league')!.value?.id ? editForm.get('league')!.value : leagueOption"
              *ngFor="let leagueOption of leaguesSharedCollection; trackBy: trackLeagueById"
            >
              {{ leagueOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
