<div class="row justify-content-center">
  <div class="col-12">
    <div *ngIf="league">
      <h2 data-cy="leagueDetailsHeading"><span jhiTranslate="leagueManagerApp.league.detail.title">League</span></h2>

      <hr />

      <div class="row">
        <jhi-league-standing [leagueStandings]="league?.leagueStandings"></jhi-league-standing>
      </div>

      <div *ngFor="let round of league?.rounds">
        <jhi-round-detail [round]="round"></jhi-round-detail>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
