<div class="row justify-content-start">
  <div class="col-8">{{ match?.homeTeam?.name }} - {{ match?.awayTeam?.name }}</div>
  <div class="col-8">
    <jhi-match-result-detail
      *ngIf="!editMode; else edit"
      [matchResult]="match?.matchResult"
      (click)="turnOnEditMode()"
    ></jhi-match-result-detail>
    <ng-template #edit>
      <jhi-match-result-update
        [matchResult]="match?.matchResult"
        (saving)="onSaveResult($event)"
        (cancellation)="onCancelEditResult()"
      ></jhi-match-result-update>
    </ng-template>
  </div>
</div>
